<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>PingPing Pang</title>
    <link href='css/style.css' rel='stylesheet'>
</head>
<body>
<canvas id='myCanvas' width='1280px' height='853px'>
</canvas>
<audio id="doubleKill">
    <source src='./music/boy/doubleKill.mp3' type="audio/mp3">
</audio>
<audio id="tripleKill">
    <source src='./music/boy/tripleKill.mp3' type="audio/mp3">
</audio>
<audio id="quadraKill">
    <source src='./music/boy/quadraKill.mp3' type="audio/mp3">
</audio>
<audio id="pentaKill">
    <source src='./music/boy/pentaKill.mp3' type="audio/mp3">
</audio>
<audio id="firstBlood">
    <source src='./music/boy/firstBlood.mp3' type="audio/mp3">
</audio>
<audio id="bgm" controls="controls" hidden="hidden" loop="loop">
    <source src="./music/boy/bgm.mp3" type="audio/mpeg"/>
</audio>
<audio id="bgmm" controls="controls" hidden="hidden" loop="loop">
    <source src="./music/girl/BGMM.mp3" type="audio/mpeg"/>
</audio>
<div>
    <input id="URL" type="text" placeholder="使用网络图片,请粘贴图片URL">
    <button id="SubmitURL">分析</button>
</div>
<script src='scripts/jQuery.js'></script>
<script src='scripts/AI.js'></script>
<script src='scripts/balls.js'></script>
<script src='scripts/utils.js'></script>
<script src='scripts/UI.js'></script>
<script src='scripts/script.js'></script>
</body>
</html>

