<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>PingPing Pang</title>
    <link href='css/style.css' rel='stylesheet'>
</head>
<body>
<!--<h2 class="title">PingPing Pang</h2>-->


<canvas id='myCanvas' width='1280px' height='714px'>
</canvas>
<div id="prePlay">
    <form>
        <input id="URL" type="text" placeholder="请填写网络图片的url">
        <input id="SubmitURL" type="button" value="Play">
    </form>
</div>
<div>
    <output id='afterPlay'></output>
</div>
<audio id="doubleKill">
    <source src='./music/boy/doubleKill.mp3' type="audio/mp3">
</audio>
<audio id="tripleKill">
    <source src='./music/boy/tripleKill.mp3' type="audio/mp3">
</audio>
<audio id="quadraKill">
    <source src='./music/boy/quadraKill.mp3' type="audio/mp3">
</audio>
<audio id="pentaKill">
    <source src='./music/boy/pentaKill.mp3' type="audio/mp3">
</audio>
<audio id="firstBlood">
    <source src='./music/boy/firstBlood.mp3' type="audio/mp3">
</audio>
<audio id="bgm" controls="controls" hidden="hidden" loop="loop">
    <source src="./music/boy/bgm.mp3" type="audio/mpeg"/>
</audio>
<audio id="bgmm" controls="controls" hidden="hidden" loop="loop">
    <source src="./music/girl/BGMM.mp3" type="audio/mpeg"/>
</audio>
<script src='scripts/jQuery.js'></script>
<script src='scripts/AI.js'></script>
<script src='scripts/balls.js'></script>
<script src='scripts/utils.js'></script>
<script src='scripts/UI.js'></script>
<script src='scripts/script.js'></script>
</body>
</html>

